extends ./page.jade

- if (posts == undefined) posts = []

block body
  h1= forumTitle
  p
    a(href = '/allusers') All users
  if user
    a(href = '/user/' + user.ID)= user.Name
    label= "     "
    a(href = '/newpost') Submit new post
    label= "     "
    a(href = '/signout') Sign out
  else
    a(href = '/newuser') Register
    label= "     "
    a(href = '/login') Log in
  each post in posts
    h2
      a(href = '/post/' + post.ID)= post.Title
      =' '
      span.author_name by
        =' '
        a(href = '/user/' + post.Owner)= post.Name
        =' (' + post.NumComments + ' comment' + (post.NumComments == 1 ? '' : 's') + ')'

