extends ./page.jade

block head
  +mathjax
  script(type = "text/javascript").
    function getReplyBox(parentId) {
      let form = $('<form>').attr('action', '/newcomment').attr('method', 'post')
        .append($('<textarea>').attr('name', 'content').attr('rows', '6').attr('cols', '50'))
        .append($('<input>').attr('type', 'hidden').attr('name', 'post').attr('value', #{post.ID}))
        .append($('<br>'))
        .append($('<input>').attr('type', 'submit').attr('value', 'Reply'))
        .append($('<span>').text(' (as ' + $('#user_name').text() + ')'));
      if (parentId != null) {
        form.addClass('comment_reply_box');
        form.append($('<input>').attr('type', 'hidden').attr('name', 'parent').attr('value', parentId));
      }
      return form;
    }
    $(function() {
      if (#{user != null}) {
        $('#main_reply').append(getReplyBox(null));
      }
      $('.comment').each(function(i, comment) {
        let replyButton = $(comment).children('.reply_button');
        replyButton.click(function() {
          replyButton.after(getReplyBox($(comment).attr('cid')));
          replyButton.hide();
        });
      });
    });

mixin showComments(coms, toplevel)
  div(class = 'comments' + (toplevel ? ' toplevel' : ''))
    each com in coms
      div.comment(id = 'comment' + com.ID, cid = com.ID)
        a(href = '/user/' + com.Owner)= com.Name
        br
        div !{markdown.toHTML(com.Content)}
        if user != null
          a.reply_button(href = 'javascript:void(0);') Reply
        if user != null && user.ID == com.Owner
          =' '
          a(href = '/editcomment/' + com.ID) Edit
        +showComments(com.Children, false)

block body
  div#user_name.invisible= user.Name
  h1= post.Title
  if owner
    p by
      =" "
      a(href='/user/' + owner.ID)= owner.Name
  else
    p (post owner not found!)
  div !{markdown.toHTML(post.Content)}
  if user != null && user.ID == post.Owner
    a(href='/editpost/' + post.ID) Edit
  +showComments(comments, true)
  #main_reply
  a(href = '/') Home
